*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* đặt class style chung để xài lại */
.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.ml-10{
    margin-left: 10px;
}